ipython
packg
numpy
scipy
matplotlib
seaborn
jupyter
notebook
itables
ipdb
nltk
pandas
pyinstrument
nvidia-ml-py  # gpu profiling
psutil  # ram/cpu profiling
h5py
pillow

# # html / xml
# beautifulsoup4
# lxml
termcolor

chardet
spacy;python_version>'3.8'  # spacy is not supported on python 3.8
lmdb
msgpack

pydub  # audio processing
